{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>歡迎光臨木葉商店</title>
{% endblock %}
{% block content %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
    </div>
    <div class="carousel-inner">
        {% for product in productlist %}
        <div class="carousel-item {% if product.pimage == 'eye1.png' %} active {% endif %}">
            <a href="/detail/{{product.id}}/"><img src="/static/images/products/{{product.pimage}}" class="d-block w-100" alt="..."></a>
            <div class="carousel-caption d-none d-md-block">
              <h5>{{product.pname}}</h5>
              <p>{{product.pdescription}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container-fluid text-center">
  <div class="row ">
    {% for product in products %}
    <div class="col">
      <div class="card my-3 mx-auto" style="width: 18rem;">
        <img src="/static/images/products/{{product.pimage}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title fw-bold">{{product.pname}}</h5>
          <p class="card-text text-start">{{product.pdescription}}</p>
          <p><span class="badge rounded-pill text-bg-danger">特價</span>{{product.pprice}}</p>
          <a href="/detail/{{product.id}}/" class="btn btn-primary">商品資訊</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="container text-center">
  <div class="row">
    <div class="col my-5">
      <h1>團隊介紹</h1>
      <p>這是我第一次參加鐵人賽，希望大家都能夠喜歡。這次我的目標，是從無到有建立一個購物網站。內容雖然不是很精緻，但我想應該是相當全面的了，如果喜歡，再麻煩按讚、訂閱、加分享。</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 d-flex align-items-center justify-content-center my-3">
      <img class="rounded-circle" width="130px" height="130px" src="/static/images/team/ken.jpg" alt="">
      <div class="ms-2">
        <h5 class="text-primary fw-bold">KEN HSU</h5>
        <p class="text-muted">全端製作、專案管理</p>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex align-items-center justify-content-center my-3">
      <img class="rounded-circle" width="130px" height="130px" src="/static/images/team/guguai.jpg" alt="">
      <div class="ms-2">
        <h5 class="text-primary fw-bold">Guguai</h5>
        <p class="text-muted">圖片製作、美術設計</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
